
{% block stylesheet %}
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<title>Conditions générales d'utilisation</title>
    <link rel="stylesheet" href="css/main.css" />
{% endblock %}


{% block body %}
       <!-- Header -->
			<header id="header" class="alt" style = "background-color : #6eb792">
				<!-- Logo -->
					<div class="logo">
						<a href="{{ path('default')}}">Sutura</a><span> Maroc</span>
					</div>
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="{{ path('default')}}">Accueil</a></li>
							<li>
								<a href="#" class="icon solid fa-angle-down">actions</a>
								<ul>
									<li><a href="{{ path('appregister')}}">S'inscrire</a></li>
									<li><a href="{{ path('app_login')}}">Se connecter</a></li>
								</ul>
							</li>
							{# <li>
								<a href="#" class="icon solid fa-angle-down">Informations</a>
								<ul>
									<li><a href="#Partenaires">Nos partenaires</a></li>
									<li><a href="#Statistiques">Statistiques </a></li>
									<li><a href="#footer">Contact </a></li>
								</ul>
							</li> #}
							<li><a href="{{ path('cgu')}}">Conditions d'utilisation</a></li>
							<li><a href="{{ path('faire_don') }}">Faire un don</a></li>
							<li><a href="{{ path('a_propos')}}">A Propos</a></li>
						</ul>
					</nav>
			</header>
            
          <!-- Main -->
			<section id="main" class="wrapper alt">
				<div class="inner">
					<header>
							<h1>ASSOCIATION-START-UP: SUTURA</h1>
							<p>Conditions générales d'utilisation</p>
						</header>
					<hr class="major" />

									<header>
										<h2>Sommaire</h2>
									</header>
<ul>
<li>Préambule</li>
<li>Article 1- Définitions</li>
<li>Article 2 - Objet</li>
<li>Article 3 - Acceptation des CGU</li>
<li>Article 4 - Création d'un compte à l'espace personnel</li>
<li>Article 5 - Spécifications techniques</li>
<li>Article 6 - Obligations</li>
<li>Article 7 - Propriété intellectuelle</li>
<li>Article 8 - Informations</li>
<li>Article 9 - Diffusion des documents administratifs et réutilisation des informations publiques</li>
<li>Article 10 - Responsabilités</li>
<li>Article 11 - Force majeure</li>
<li>Article 12 - Protection des données à caractère personnel</li>
<li>Article 13 - Validité des CGU</li>
<li>Article 14 - Modification des CGU</li>
<li>Article 15 - compétence et droit applicable</li>
</ul>
		<p>
<header>
	<h2>Préambule</h2>
</header>
TOUTE UTILISATION EFFECTUEE A QUELQUE TITRE QUE CE SOIT DU SITE IMPLIQUE OBLIGATOIREMENT L’ACCEPTATION SANS RESERVE, PAR L’UTILISATEUR, DES PRESENTES CGU. LES PRESENTES CGU S’APPLIQUENT UNIQUEMENT AUX UTILISATEURS QUI NAVIGUENT SUR LE SITE.
DES LA CREATION D’UN ESPACE PERSONNEL ET CONNEXION SUR CELUI-CI, DES CGU SPECIFIQUES Aux utilisateurs de l’espace personnel  SONT APPLICABLES ET SONT ACCESSIBLES VIA le lien ci-après.</p><p>
		<h2>Article 1: 	Définitions</h2>
<ul>
<li><b>ESPACE PERSONNEL :</b> désigne la partie du site dédiée aux adhérents de Sutura, accessible uniquement après identification sur le SITE.</li>
<li><b>INFORMATIONS :</b> désigne l’ensemble des informations rendues accessibles aux UTILISATEURS sur le SITE comprenant les données, conseils, recommandations, et autres informations dont Sutura est propriétaire, ou est autorisé à utiliser et à divulguer. Les INFORMATIONS incluent les descriptifs détaillant chaque service proposé par  Sutura, les statuts, les conditions d’adhésion et autres.</li>
<li><b>SERVICES :</b> désigne l’ensemble des services proposés par Sutura aux UTILISATEURS via le SITE à l’exclusion des services proposés au sein de l’ESPACE PERSONNEL.</li>
<li><b>SITE :</b> désigne le site internet accessible à l'adresse …. Le SITE regroupe l’ensemble des pages web, services et fonctionnalités proposés aux UTILISATEURS.</li>
<li><b>UTILISATEUR :</b> désigne toute personne qui accède et navigue sur le SITE, dont les adhérents de Sutura, en vue de bénéficier des SERVICES.</li>
</ul></p><p>				
					<h2>Article 2: Objet</h2>

<h3>2.1. Objet du SITE</h3>
Le SITE a pour objet de permettre aux UTILISATEURS de bénéficier des INFORMATIONS et SERVICES proposés par Sutura.<br><br>
<h3>2.2. Objet des CGU</h3>
Les présentes CGU ont pour objet de fixer les dispositions contractuelles relatives aux droits et obligations respectifs de Sutura et des UTILISATEURS.
Ces CGU s’appliquent uniquement aux UTILISATEURS qui naviguent sur le SITE. Il est rappelé que des Conditions Générales d’Utilisations distinctes spécifiques s’appliquent lors de la création d’un compte et/ou lors de la connexion sur celui-ci.<br><br>
<h3>2.3. Descriptif non exhaustif des SERVICES</h3>
Les UTILISATEURS peuvent accéder notamment aux services suivants :
					<lu>
						<li>
						Création d’un compte d’utilisateur
						</li>
						<li>
						Adhésion en ligne aux offres de Sutura (les conditions et modalités d’adhésion sont détaillées à l’article 4 ci-dessous).</li>
						<li>
						Contacter Sutura et lui transmettre une demande via le formulaire de contact.
						</li>
						<li>
						S’abonner à la Newsletter Sutura ;
						</li>
					</lu>
Les adhérents de Sutura peuvent effectuer des demandes par voie numérique et accéder aux services en se connectant à leur compte.
 Textes marocains sur le numérique à consulter 
<br><br>
<h3>2.4. Accessibilité du SITE aux personnes handicapées</h3>
La situation de handicap étant une cause qui tient à cœur de Sutura, nous nous efforçons de déployer tous les moyens utiles afin de rendre ce site le plus accessible possible à toute personne présentant un handicap.</p><p>
					
<h2>Article 3: Acceptation des CGU</h2>
L’utilisation des fonctionnalités du SITE et des SERVICES implique l’acceptation des présentes CGU. Ainsi, l’UTILISATEUR s’engage à lire attentivement les présentes CGU lors de l’accès au SITE et est invité à les télécharger, les imprimer et à en conserver une copie.<br>
Il est précisé que les présentes CGU sont référencées en bas de chaque page du SITE au moyen d’un lien hypertexte et peuvent ainsi être consultées à tout moment.</p>
<p>
<h2>Article 4 – Création d'un compte à l'espace personnel</h2>
<h3>4.1. Conditions</h3>
Les adhérents de Sutura ont la possibilité de créer un compte accessible sur le site www.sutura. afin d’accéder en ligne à certaines informations et documents portant sur la gestion de leur dossier et d’effectuer certaines démarches.
<br>
Seuls les personnes ayant la qualité d’adhérent de Sutura  au d’étudiants peuvent créer un compte sur le site.
<br>
Les conditions d’adhésion à Sutura sont détaillées au sein des statuts et règlements de Sutura.<br><br>
<h3>4.2. Procédure</h3>
<h4>4.2.1 Adhésion en ligne</h4>
L’utilisateur peut souscrire en ligne aux services de Sutura. Pour demander l’adhésion en ligne,  l’UTILISATEUR doit définir au préalable ses besoins afin que Sutura lui propose une formule adaptée. Il doit ensuite suivre les instructions à chaque étape de son adhésion en ligne. Chaque étape nécessite la validation de sa part à l’aide de l’icône "continuer". A l’issue de la procédure, l’UTILISATEUR aura la faculté d’adhérer directement à l’une des formules proposées.<br>
Pour toute question rendez-vous en accueil ou contactez un conseiller téléphonique.<br>
<b>Etape 1 : la demande d’adhésion à compléter</b><br>
Lors de cette étape, il est demandé un certain nombre d’informations nominatives, indispensables à l’adhésion.<br>
Si ces dernières sont mal remplies ou comportent des erreurs bloquantes et identifiables rendant la demande d’adhésion non valide, un message d’erreur est affiché sur la page concernée de la demande d’adhésion ou dans une fenêtre "pop-up" qui apparaît. L’UTILISATEUR peut de nouveau avancer dans les étapes de l’adhésion une fois les champs saisis correctement.<br>
Si des erreurs ne sont pas identifiées (ex.: fautes d’orthographe, dans la saisie…) et ne bloquent pas l’adhésion en ligne, elles peuvent faire l’objet d’une rectification ultérieure par le centre de gestion.<br>
<b>Etape 2: la confirmation de sa demande d’adhésion</b><br>
L’UTILISATEUR saisit ses données bancaires.<br>
Après avoir coché la case confirmant que l’UTILISATEUR a bien pris connaissance des statuts et règlements de Sutura, des montants de cotisations et la notice d’information sur la prestation d’aide aux personnes ainsi que les présentes conditions générales de services à distance, celui-ci visualise sa demande d’adhésion.<br>
L’UTILISATEUR vérifie la concordance entre les éléments qu’il a indiqués et ceux que l’association a enregistrés. Il a la possibilité de rectifier ces informations en modifiant directement les données sur la page internet.<br>
<b>Etape 3 : la signature électronique</b><br>
Pour valider définitivement sa demande d’adhésion, l’UTILISATEUR doit signer électroniquement la note d’adhésion et le renvoyer à l’association par voie indiquée. 
Une fois signé, l’UTILISATEUR peut télécharger ou imprimer son dossier d’adhésion comprenant la demande d’adhésion et l’autorisation de prélèvement.<br>
Il doit adresser l’autorisation de prélèvement dans un délai de dix (10) jours à son établissement bancaire afin que Sutura puisse procéder au prélèvement de la cotisation. L’envoi du formulaire d’autorisation de prélèvement est obligatoire pour valider définitivement l’adhésion.<br>
Sutura atteste de la prise en compte de la demande d’adhésion en ligne en envoyant par e-mail à l’UTILISATEUR une confirmation de l’enregistrement de sa demande d’adhésion.<br>
Après validation de sa demande d’adhésion, Sutura adresse le certificat d’adhésion accompagné de la carte d’adhérent tiers payant au domicile de l’UTILISATEUR devenu également utilisateur du site internet de l’association.<br>
Les registres informatiques, conservés dans des conditions raisonnables de sécurité, feront la preuve des communications et demandes d’adhésion. Sutura procèdera à un archivage des formulaires d’adhésions sur un support fiable et durable, pouvant juridiquement être produit à titre de preuve.<br>
L’UTILISATEUR qui souhaite adhérer par Internet accepte que les données le concernant et celles relatives à son adhésion, communiquées à cette fin à Sutura soient conservées à une durée indéterminée.
<h4><b>Droit de Rétractation :</b></h4>
Toute personne qui a adhéré à Sutura a la faculté d’y renoncer pendant un délai de 30 jours à compter du moment où elle est informée que son adhésion a pris effet. La renonciation n’entraîne pas le remboursement des cotisations  et en cas d’impayé suite à un prêt, l’adhérent doit impérativement régler les sommes dues avant l’acceptation de sa rétractation. Elle peut être faite par l’envoi d’une demande à Sutura via le site.</p><p>
<h2>Article 5: Spécifications techniques</h2>
L’UTILISATEUR reconnait disposer des moyens et compétences nécessaires à l’utilisation du SITE.<br>
Les équipements nécessaires à l’accès et à l’utilisation du SITE sont à la charge de l’UTILISATEUR, de même que les frais de télécommunications induits par leur utilisation.</p><p>
<h2>Article 6: Obligations</h2>
<h3>6.1. Obligations des UTILISATEURS</h3>
Dans le cadre de l’utilisation du SITE, chaque UTILISATEUR s’engage à ne pas porter atteinte à l’ordre public et à se conformer aux lois et règlements en vigueur, à respecter les droits des tiers et les dispositions des présentes CGU.<br>
Chaque UTILISATEUR a pour obligation de :
<ul>
	<li>
	Se comporter de façon loyale et en bon frère ou sœur à l’égard de Sutura et des tiers
	</li>
	<li>
	Etre honnête et sincère dans les informations fournies à  Sutura et, le cas échéant aux tiers UTILISATEURS
	</li>
	<li>
	Utiliser le SITE conformément à son objet tel que décrit dans les présentes CGU
	</li>
	<li>
	Ne pas détourner la finalité du SITE pour commettre des crimes, délits ou contraventions réprimées par le Code pénal ou toute autre loi
	</li>
	<li>
	Respecter la vie privée des tiers et la confidentialité des échanges
	</li>
	<li>
	Ne pas chercher à porter atteinte au sens des articles 323-1 et suivants du Code pénal aux systèmes de traitement automatisés de données mis en œuvre sur le SITE
	</li>
	<li>
	Ne pas dénigrer le SITE ou Sutura, ni tenir de propos diffamant d’aucune sorte visant  Sutura ou portant atteinte aux droits des tiers, notamment au sein de la zone de commentaires libres prévue dans le formulaire de contact ou sur les réseaux sociaux
	</li>
	<li>
	Ne pas modifier les INFORMATIONS mises en ligne par  Sutura
	</li>
	<li>
	Ne pas utiliser le SITE pour envoyer massivement des messages non sollicités (publicitaires ou autres)
	</li>
	<li>
	Ne pas diffuser des données ayant pour effet de diminuer, de désorganiser, de ralentir ou d’interrompre le fonctionnement normal du SITE.
	</li>
	</ul>
<h3>6.2. Obligations de Sutura</h3>
L’obligation générale de Sutura est une obligation de moyens. Il ne pèse sur  Sutura aucune obligation de résultat ou de moyens renforcée d’aucune sorte.  Sutura s’engage à mettre tous les moyens en œuvre pour assurer une continuité d’accès et d’utilisation du SITE, 7 jours sur 7 et 24 heures sur 24.<br>
 Sutura attire toutefois l’attention des UTILISATEURS sur le fait que les protocoles actuels de communication via Internet ne permettent pas d’assurer de manière certaine et continue la transmission des échanges électroniques (messages, documents, identité de l’émetteur ou du destinataire).</p><p>
<h2>Article 7: Propriété intellectuelle</h2>
<h3>7.1. Titularité des droits de propriété intellectuelle</h3>
Les marques, logos, slogans, graphismes, photographies, animations, vidéos, solutions logicielles et textes contenus sur le SITE ne peuvent être reproduits, utilisés ou représentés sans autorisation expresse de Sutura sous peine de poursuites judiciaires.
Toute représentation ou reproduction, totale ou partielle, du SITE et de son contenu, par quel que procédé que ce soit, sans l’autorisation préalable expresse de Sutura est interdite et constituera une contrefaçon sanctionnée par les articles du Code de la Propriété intellectuelle.<br>
En particulier,  Sutura interdit expressément :
<ul>
<li>
	L’extraction, par transfert permanent ou temporaire de la totalité ou d’une partie qualitativement ou quantitativement substantielle du contenu d’une base de données sur un autre support, par tout moyen et sous toute forme que ce soit ;
	</li>
	<li>
	La réutilisation, par la mise à la disposition du public de la totalité ou d’une partie qualitativement ou quantitativement substantielle du contenu de la base, quelle qu’en soit la forme.
	</li>
	<li>
	L’acceptation des présentes CGU vaut reconnaissance par les UTILISATEURS des droits de propriété intellectuelle et l’engagement de les respecter.
	</li>
</ul>
<h3>7.2. Licence d’utilisation du SITE</h3>
Sutura accorde une licence personnelle, non-exclusive et non cessible aux UTILISATEURS les autorisant à utiliser le SITE et les INFORMATIONS qu’il contient conformément aux présentes CGU.<br>
Toute autre exploitation du SITE et de son contenu est exclue du domaine de la présente licence et ne pourra être effectuée sans l’autorisation préalable expresse de Sutura.</p><p>
<h2>Article 8: Informations</h2>
Sutura met tout en œuvre pour fournir à l’UTILISATEUR des INFORMATIONS loyales, fiables, complètes et à jour. Sutura se réserve le droit de mettre à jour ou de modifier les INFORMATIONS présentées sur le SITE sans avis préalable.<br>
Les INFORMATIONS présentes sur le SITE sont délivrées à titre purement indicatif et ne sauraient engager la responsabilité de  Sutura.<br>
Sutura ne saurait garantir l’exactitude, l’exhaustivité, l’absence d’erreurs, concernant les INFORMATIONS fournies.<br>
L’UTILISATEUR s’engage à faire un usage personnel et non commercial des INFORMATIONS. Tout autre usage des INFORMATIONS est strictement interdit.<br><br>
Il est par ailleurs précisé que le SITE peut inclure des publicités et liens vers d’autres sites Internet que  Sutura ne contrôle pas.  Sutura décline toute responsabilité quant aux contenus et informations diffusés sur ces sites tiers et quant aux contenus affichés sur le SITE en provenance de sites tiers pour lesquels elle aura le statut d’hébergeur au sens de l’article 6 de la loi pour la confiance dans l’économie numérique du 21 juin 2004.
En cas de contenus litigieux diffusé, l’UTILISATEUR est invité à contacter le service et par courrier en recommandé avec accusé de réception selon les formes prescrites par l’article 6 I 5) de la loi du 21 juin 2004.</p><p>
					
<h2>Article 9 – Diffusion des documents administratifs et réutilisation des informations publiques</h2>
Les dispositions des articles 6 et 7 des présentes CGU ne s’opposent pas à la réutilisation des informations publiques diffusées en application des articles L.312-1 et suivants du Code des relations entre le Public et l’Administration modifié par la loi n°2016-1321 du 7 octobre 2016 pour une République Numérique.<br>
La réutilisation des informations publiques s’effectuera conformément aux dispositions des articles L.321-1 et suivants du Code des relations entre le Public et l’Administration et de manière générale dans le respect des lois et réglementations en vigueur.<br>
La liste des actes administratifs est accessible en cliquant sur le lien suivant.</p><p>
<h2>Article 10 - Responsabilités</h2>
L'accès au SITE et l'utilisation de son contenu se fait sous la responsabilité de l’UTILISATEUR. Il appartient notamment à l’UTILISATEUR de se protéger contre tous virus ou tout autre élément qui risquerait de détruire ou d'endommager son ordinateur ou les données qu’il contient.<br>
Par ailleurs, la responsabilité de  Sutura ne pourra en aucun cas être engagée :
<ul>
<li>
	en cas d’impossibilité d’accéder temporairement au SITE pour des opérations de maintenance technique ou d’actualisation des informations publiées. Les UTILISATEURS reconnaissent que la responsabilité de  SUTURA ne saurait être engagée en cas de dysfonctionnements ou d’interruptions desdits réseaux de transmission
	</li>
	<li>
	en cas d’attaques virales
	</li>
	<li>
	en cas d’utilisation anormale ou d’une exploitation illicite du SITE
	</li>
	<li>
	relativement au contenu des sites internet tiers vers lesquels renvoient des liens hypertextes présents sur le SITE
	</li>
	<li>
	en cas de non-respect des présentes CGU imputables aux UTILISATEURS
	</li>
	<li>
	en cas de retard ou d’inexécution de ses obligations, lorsque la cause du retard ou de l’inexécution est liée à un cas de force majeure telle qu’elle est définie à l’article 11 des présentes CGU
	</li>
	<li>
	en cas de cause étrangère non imputable à Sutura
	</li>
	<li>
	pour tous dommages indirects ou immatériels tels que perte de chance, perte de profit, perte de contrat ou préjudice d’image.
	</li>
</ul></p><p>
<h2>Article 11: Force majeure</h2>
Sutura se réserve la faculté de suspendre, retarder, modifier ou annuler l’exécution de ses obligations en cas de survenance d’évènements ou de circonstances de force majeure ou de cas fortuits ou d’évènements ou de circonstances contractuellement assimilés aux cas de force majeure ou de cas fortuits quand bien même ils ne répondraient pas à la définition juridique telle que : incendie, arrêt de travail indépendant et extérieur à la volonté de l’entreprise ou d’un quelconque de ses fournisseurs ou sous-traitants, inondation, épidémie, guerre, réquisition, grève, ouragan, tornade, tremblement de terre, révolution, vol de tout ou partie du matériel, interruption ou retard dans les transports, avarie de transport, manque de matières premières, accident d’outillages, manque de combustible ou de toute autre source d’énergie, ainsi qu’en cas de survenance de toute circonstance ou événement extérieur à la volonté de  Sutura intervenant postérieurement à la conclusion des CGU et en empêchant l’exécution dans des conditions normales.<br>
Il est précisé que, dans une telle situation, l’UTILISATEUR ne peut réclamer le versement d’aucune indemnité et ne peut intenter aucun recours à l’encontre de Sutura.<br>
En cas de survenance d’un des évènements susvisés, Sutura s’efforcera d’informer l’UTILISATEUR dès que possible.</p><p>

<h2>Article 12: Protection des données à caractère personnel</h2>
Dans le cadre de l’exploitation du SITE,  Sutura est susceptible de collecter des données à caractère personnel.<br>
Ces données sont nécessaires à la gestion du SITE, et le cas échéant à l’envoi de newsletter et autres alertes aux UTILISATEURS qui en ont fait la demande. Ces données seront traitées conformément aux finalités prévues lors de la collecte.<br>
A ce titre, l’UTILISATEUR est invité à consulter la politique de confidentialité du SITE qui lui donnera plus amples informations relatives à la protection des données à caractère personnel, et aux traitements effectués via le SITE.<br>
Il est rappelé que l’UTILISATEUR dont les données à caractère personnel sont traitées bénéficie des droits d’accès, de rectification et d’opposition au traitement de ses données à caractère personnel, conformément aux articles 38 et suivants de la loi n°78-17 dite « Informatique et Libertés » du 6 janvier 1978 modifiée.<br>
Ces droits peuvent être exercés, conformément à la loi n°78-17 du 6 janvier 1978 modifiée par courrier papier à l’adresse  ci-dessous en justifiant de son identité et d’un motif légitime s’il est exigé par la loi.</p><p>
<h2>Article 13 - Validité des CGU</h2>
Toute modification de la législation ou de la réglementation en vigueur, ou toute décision d’un tribunal compétent invalidant une ou plusieurs clauses des présentes CGU ne saurait affecter la validité des présentes CGU.<br>
Une telle modification ou décision n’autorise en aucun cas les UTILISATEURS à méconnaître les présentes CGU.</p><p>
<h2>Article 14 - Modification des CGU</h2>
Les présentes CGU s’appliquent à tout UTILISATEUR navigant sur le SITE. Les CGU pourront être modifiées et mises à jour par  Sutura à tout moment, notamment pour s’adapter à l’évolution législative ou réglementaire. Les CGU applicables sont celles en vigueur au moment de la navigation sur le SITE.</p><p>
<h2>Article 15 - Compétence et droit applicable</h2>
Les présentes CGU ainsi que les relations entre l’utilisateur et  sutura sont régies par le droit marocain.<br>
En cas de différend survenant entre les parties au sujet de l’interprétation ou de l’exécution, les parties s’efforceront de le régler à l’amiable.
Il est possible d’adresser une réclamation ou de recourir au médiateur selon la procédure décrite ci-après.<br>

<b>Adresser une réclamation à l’Association Sutura</b><br>
Le groupe Sutura a toujours placé ses adhérents au cœur de sa démarche qualité.
Vos avis, vos remarques ou l'expression de votre insatisfaction contribuent à l’amélioration continue de la relation que nous entretenons ensemble.<br>
Si vous rencontrez une situation qui ne vous convient pas, nos interlocuteurs sont à votre disposition pour apporter une réponse à votre réclamation dans un délai de 12 jours calendaires, conformément à nos engagements de service.<br><br>
<b>Premier niveau de réclamation - le service Adhérents</b><br>
Vous pouvez adresser votre réclamation :<br>
					<ul>
					<li>
						Par email : via le formulaire de contact disponible sur votre espace utilisateur
					</li>
					<li>
						Par téléphone
					</li>
					<li>
						Par courrier
					</li>
					</ul>
<b>Deuxième niveau de réclamation – le service réclamation du Siège National</b>
<b>IMPORTANT :</b> Tout recours au service réclamation du Siège National doit avoir fait l’objet au préalable d’au moins un contact avec le Service Adhérents (premier niveau de réclamation).<br><br>
<b>En dernier Recours - Le Médiateur</b><br>
Si le litige persiste malgré vos échanges avec le Service Adhérents et le Siège National, vous pouvez saisir le Médiateur dans un délai maximum d’un an à compter de votre réclamation.<br>
Votre demande de médiation peut être formulée par mail à l’adresse mediation@sutura.org<br>
Plus d’informations sur le dispositif de Médiation<br>
Dans l’hypothèse où la médiation échouerait, le litige ayant pu donner lieu à une médiation sera confié à la juridiction compétente.</p>
<b><i>Mars 2021</i></b>
					
				</div>						
	</section>


            <footer id="footer">
				<div class="inner">
					<div class="split style1">
						<div class="contact">
							<h2>Contact</h2>
							<ul class="contact-icons">
								<li class="icon solid fa-home"><a href="#">Marrakech, Maroc<br>Marrakech, BP 40000</a></li>
								<li class="icon solid fa-phone"><a href="#">0684363871</a></li>
								<li class="icon solid fa-envelope"><a href="#">sutura@sutura.org</a></li>
							</ul>
							<ul class="icons-bordered">
								<li><a class="icon brands fa-facebook-f" href="#">
									<span class="label">Facebook</span>
								</a>
							</li>
								{# <li><a class="icon brands fa-twitter" href="#">
									<span class="label">Twitter</span>
								</a></li>
								<li><a class="icon brands fa-instagram" href="#">
									<span class="label">Instagram</span>
								</a></li>
								<li><a class="icon brands fa-linkedin-in" href="#">
									<span class="label">LinkedIn</span> #}
								</a></li>
							</ul>
						</div>
						<form action="#" method="post">
							<h2>Envoyer un email</h2>
							<div class="fields">
								<div class="field half">
									<input name="name" id="name" placeholder="Prénom & Nom" type="text" />
								</div>
								<div class="field half">
									<input name="email" id="email" placeholder="Email" type="email" />
								</div>
								<div class="field">
									<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
								</div>
							</div>
							<ul class="actions">
								<li><input value="Envoyer" class="button" type="submit" /></li>
							</ul>
						</form>
					</div>
					<div class="copyright">
						<p>&copy; Sutura@2020. All rights reserved.</p>
					</div>
				</div>
			</footer>
{% endblock %}

{% block javascript %}
    <script src="{{asset('/js/jquery.min.js')}}"   type="text/javascript"></script>
    <script src="{{asset('/js/jquery.dropotron.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('/js/jquery.scrollex.min.js')}}"  type="text/javascript"></script>
    <script src="{{asset('/js/jquery.scrolly.min.js')}}"  type="text/javascript"></script>
    <script src="{{asset('/js/jquery.selectorr.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('/js/browser.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('/js/breakpoints.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('/js/util.js')}}" type="text/javascript"></script>
    <script src="{{asset('/js/main.js')}}" type="text/javascript"></script>
{% endblock %}