<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{# <link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/main.css" /> #}
        
		<link rel="stylesheet" href="{{asset('/css/main.css')}}" type="text/css"/>
        <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}" type="text/css"/>
	</head>
	<body class="is-preload">

		<!-- Header -->
        <header id="header">

            <!-- Logo -->
                <div class="logo">
                    <a href="{{ path('default')}}">Sutura</a><span>Maroc</span>
                </div>

            <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="{{ path('default')}}">Accueil</a></li>
                        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    </ul>
                </nav>

        </header>

        <div class="container w-100" style="position:absolute; top:100px;">
            <h1>Page d'administration</h1>
            <ul>
                <a class="btn btn-secondary mt-4 btn-lg btn-block" href="{{ path('utilisateurs')}}">Lister/Modifier un utilisateur</a>
            
                <a  class="btn btn-success mt-4 btn-lg btn-block" href="{{path('pret_index')}}">Traiter  Une demande de pret</a>

                <a  class="btn btn-primary mt-4 btn-lg btn-block" href="{{ path('cotisation_index')}}">Traiter Une declaration de cotisation</a>    
            
                <a  class="btn btn-dark mt-4 btn-lg btn-block" href="{{ path('declar_remboursement_index')}}">Traiter Une declaration de remboursement</a>
             </ul>
        </div>
	</body>
</html>